.input {
    display: flex;
    
    
}

.input form {
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* .input form input {
    margin: 10px;
} */

.min-height {
    min-height: 730px;
}

.box-width {
    width: auto ;
    height: 500px;
    

}

.result-width{
    width: 500px;
    height: 500px;
}

.title-width {
    width: 592px;
    height: auto
}

   
