body {
  margin: 0;
  background-color: #16262E ;
  color: #77867F
  /* background-image: url('https://cdn.quotesgram.com/img/42/56/2104281443-Arnold-Schwarenegger-Wallpaper-arnold-schwarzenegger-28805354-1024-751.jpg');
  background-repeat: no-repeat; */
  /* background: url('https://i.pinimg.com/736x/46/a1/5a/46a15a348c4f1cbf2b2f6b326ce1dde9--a-letter-sinks.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  */
}


